.rodape {
    background-color: #6278F7;
    padding: 80px;
    text-align: center;
    display : flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    
}

.social {
    display: inline-block;
    margin-right: 32px;

   
    
}